html {
    position: relative;
    min-height: 100%;
}


body {
    background-color: #72cadc;
    text-align: center;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
}

.clear {
    clear: both;
}

.banner img {
    position: relative;    
    width: 50%;
    max-width: 700px;
    margin: 0 auto;
}

.logo {
    position: relative;
    z-index: 2;
    top: -140px;

}

.logo img{
    width: 40%;
    max-width: 700px;

}

.game {
    position: relative;
    width: 70%;
    top: -180px;
    margin: 0 auto;
    border: dashed 10px white;
    background-color: #30555C;
    z-index: 1;
    padding: 40px 40px 0 40px;
}

p#current {
    font-size: 2em;
}

p#guesses, p#letters {
    font-size: 2.5em;
}

#blankspace {
    opacity: 100;
    font-size: 2.5em;
}
